In [1]:
from pydataset import data
import pandas as pd

In [2]:
df = data('iris')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [4]:
X = df.drop('Species', axis=1)
y = df['Species']

In [5]:
X.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
1           5.1          3.5           1.4          0.2
2           4.9          3.0           1.4          0.2
3           4.7          3.2           1.3          0.2
4           4.6          3.1           1.5          0.2
5           5.0          3.6           1.4          0.2

In [6]:
import sweetviz as sv

In [11]:
analyze_report = sv.analyze(df)
analyze_report.show_html('./result/sv_analyze.html', open_browser=True)

                                             | | [  0%]

Report ./result/sv_analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 141 to 101
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  120 non-null    float64
 1   Sepal.Width   120 non-null    float64
 2   Petal.Length  120 non-null    float64
 3   Petal.Width   120 non-null    float64
dtypes: float64(4)
memory usage: 4.7 KB

In [15]:
compare_report = sv.compare([X_train, 'Train'], [X_test, 'Test'])
compare_report.show_html('./result/sv_compare.html', open_browser=True)

                                             | | [  0%]

Report ./result/sv_compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.