In [19]:
from pydataset import data
import pandas as pd

### 데이터셋 내용 확인

In [8]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

### 데이터셋 설명 보기

In [17]:
df = data('Boston', show_doc=True)

Boston

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

##  Housing Values in Suburbs of Boston

### Description

The `Boston` data frame has 506 rows and 14 columns.

### Usage

    Boston

### Format

This data frame contains the following columns:

`crim`

per capita crime rate by town.

`zn`

proportion of residential land zoned for lots over 25,000 sq.ft.

`indus`

proportion of non-retail business acres per town.

`chas`

Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

`nox`

nitrogen oxides concentration (parts per 10 million).

`rm`

average number of rooms per dwelling.

`age`

proportion of owner-occupied units built prior to 1940.

`dis`

weighted mean of distances to five Boston employment centres.

`rad`

index of accessibility to radial highways.

`tax`

full-value property-tax rate per \$10,000.

`ptratio`

pupil-teacher ratio by town.

`black`

     _1000(Bk - 0.63)^2_

where _Bk_ is the proportion of blacks by town.

`lstat`

lower status of the population (percent).

`medv`

median value of owner-occupied homes in \$1000s.

### Source

Harrison, D. and Rubinfeld, D.L. (1978) Hedonic prices and the demand for
clean air. _J. Environ. Economics and Management_ **5**, 81–102.

Belsley D.A., Kuh, E. and Welsch, R.E. (1980) _Regression Diagnostics.
Identifying Influential Data and Sources of Collinearity._ New York: Wiley.

### 데이터셋 불러오기

In [6]:
iris = data('iris')

In [15]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa